{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% include "shared/flash.html" %}

<h2>Repos</h2>

<div class="uk-inline">
    <span class="uk-form-icon" uk-icon="icon:search"></span>
    <input type="text" class="uk-input" id="repo-search" disabled>
</div>

<div class="uk-inline">
    <select id="owner-filter" class="uk-select" disabled></select>
</div>

<ul id="github-repos" class="uk-list uk-list-divider">
    <li>
        <div uk-spinner></div>
    </li>
</ul>
{% endblock %}
