GITHUB_TOKEN=<github token>
SLACK_TOKEN=<slack token>
SLACK_CHANNEL=#code-review-bot-test
WEBHOOK_URL=http://<your-webhook-url>/github_event
SLACK_CLIENT_ID=<slack_client_id>
SLACK_CLIENT_SECRET=<slack_client_secret>
# Not needed if you are using docker
# DATABASE_URL=postgres://<yourlogin>:<yourpassword>@localhost/code_review_bot
WEBHOOK_URL=http:://f95ae61b.ngrok.io/github_event
APP_SECRET=<32+ random bytes>
