version: '3'

volumes:
  target:

services:
  web:
    command: systemfd --no-pid -s http::0.0.0.0:8088 -- cargo watch -x 'run -- -d -l debug'
    volumes:
      - .:/app
      - target:/app/target
    ports:
      - "8088:8088"
